*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Hahmlet', serif;

}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
header {
    width: 100%;
    height: 100vh;
  background-color: #ddd;  

}
.topContainer{
    width: 100%;
    height: 130px;
    background-color: blanchedalmond;
}
.container{
    margin: auto;
    align-self: center;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:#fff; */
}
.centered-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#topIcon{
    float: left;
    margin-right: 14px;
    margin-top: 8px;

}
.topSec p {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
}

/* nav bar */

nav{
    width: 100%;
    height: 60px;
    background-color:#95103B ;
}

nav ul {
    list-style-type: none;
    float: left;

  }
  
  nav li {
    display: inline;
  }
  .mnue-text{
    font-family: 'Hahmlet', serif;
    font-weight: 300;
      text-decoration: none;
    color: aliceblue;
    font-size: 24px;
    
    padding: 0 12px;
  }
  .search{
      height: 100%;
      aspect-ratio: 1;
      background-color: rgba(221, 221, 221, 0.686);
  }
  .hero{
      width: 100%;
      height: calc(100vh - 190px);;
      background-color: aquamarine;
  }
  section{
      width: 100%;
      display: flex;
      justify-content: center;
        align-items: center;
  }

  #sec2{
      background-color: azure;
      justify-content: space-evenly;
      display: flex;
      flex-direction: column;
        align-items: center;
      height: 85vh;
  }

.section-title{
    font-size: 24px;

}

.divided{
    display: flex;
    justify-content: space-between;
     align-items: center;
     width: 80%;
}

.icon-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 32%;
    height: 420px;
    background-color: bisque;
    /* padding: 0 5px; */
}

.feuture-icon{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #aa5670;
    box-shadow:
     0 0 0 2px rgb(230, 134, 164),
     0 0 0 20px #95103B;
    /* border: solid rgb(171, 40, 81) 2px;
    border: solid #95103B 20px; */
}
.button{
    height: 48px;
    /* width: 220px; */
    border: solid #95103B 1px;
    background-color: #c52d5d;
    transition: all 0.3s;
    color: #fff;
    font-size: 20px;
    padding: 4px 12px;
}
.button:hover{
    border: solid #95103B 1px;
    background-color: transparent;
    cursor: pointer;
    color: #95103B;
}
.sec3{
    width: 100%;
    height:85vh;
    background-color: #ddd;
}
.text-container{
    height: 85%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    width: 35%;
    /* background-color: #fff; */
}
.img-container{
    width: 50%;
    /* background-color: #fff; */
}
.img-container img{
    width: 46%;
}

.sec4{
    background-color: azure;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
      align-items: center;
    height: 85vh;
}
/* table, th, td {
    border:1px solid black;
  } */

  .sec4 table{
      width: 85%;
  }
  .sec4 table tr{
      
  }
  .sec4 table tr td{
height: 190px;
    width: 33.3%;
    /* background-color: cornsilk; */
}
.view-details{
    text-decoration: none;
    color: #95103B;
    margin-top: 22px;
    font-size: 18px;

}
.view-details:hover{
    text-decoration: underline;
    color: #75082b;
    margin-top: 22px;
    font-weight: 600;
    transition: all 0.3s;
}

.sec5{
    background-color: #ddd;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
      align-items: center;
    height: 100vh;
}

.card{
    width: 31%;
    height: 540px;
    background-color: lemonchiffon;
}
.card img{
    width: 100%;
    aspect-ratio: 1.5;
    background-color: #aa5670;
}
.card p {
    font-size: 22px;
    font-weight: 600;
    padding-left: 16px;
    margin-top: 12px;
}
.card article  {
    font-size: 18px;
    font-weight: 500;
    padding:0px 18px;
    margin-top: 14px;
}
.card a{
    padding:0px 18px;
    padding-top: 30px;
}
.sec6{
    background-color: #323639;
    width: 100%;
    height: 50vh;
    color: #fff;
}
.footer-sec{
    width: 32%;
    height: 90%;
     
    
    /* background-color: aliceblue; */
}

.form{
    
    display: flex; 
     
    flex-direction: column;
}
fieldset input{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
fieldset button{
    width: 100%;
  background-color: #95103B;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer{
    width: 100%;
    height: 64px;
    background-color: #2A2D34;
    color: #fff;
    display: flex;
    align-items: center;
}